
}

h2 {color: red;
	background-color: black;
}


body {
	background-color: teal;
}
.h1 {
	background-color: black;
	color : red;
}
li {
	color: red;
	background-color: black;
}
.picture_1 {
	width: 500px;
  background-color: black;
  color: white;
  border: 500px red;
  align-content: center;


}